/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 .container_presentation{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
  .box{
      width: 250px;
      margin: 25px;
  }

 .page-subheading{
     padding: 5px;
     margin: 5px;
     text-align: center;
     font-size: 1em;
 }

 .underover{
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     width: 25%;
     margin: auto;
 }

 p{
     text-align: justify;
     color: black;
 }

 .container{
     display: flex;
 }

 .row{
     flex-direction: column;
 }

 #_desktop_logo{
     margin-left: 500px;
 }

 #_desktop_top-menu{
     margin-bottom: 15px;
     color: black;
 }