/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 #header{ background: black !important; }
 .container{
     background-color: green;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: space-between;
 }

 .row{
     text-align: justify;
     margin-left: 200px;
 }

 footer{
     text-align: right;
 }

 .page-subheading{
     padding: 5px;
     margin: 5px;
 }